%type-h1 {
  font-family: $metropolisBold;
  line-height: 4.688rem;
}
%type-h2 {
  font-family: $metropolisBold;
  line-height: 3.438rem;
}
%type-h3 {
  font-family: $metropolisBold;
  line-height: 3.125rem;
}
%type-h4 {
  font-family: $metropolisSemiBold;
  line-height: 1;
}
%type-h5 {
  font-family: $metropolisSemiBold;
  line-height: 1;
}
