.header {
  margin: 30px 0;
  .navbar {
    padding: 0;
    &-brand {
      margin: 0;
      padding: 0;
    }
    &-nav {
      column-gap: 40px;
      row-gap: 20px;
      .nav-link {
        padding: 0;
        font-family: $metropolisMedium;
        color: var(--accent-blue);
      }
    }
  }
  &__right {
    display: flex;
    column-gap: 30px;
    @include media-breakpoint-down(lg) {
      margin-right: 70px;
    }
    @include media-breakpoint-down(sm) {
      margin: 20px auto 0;
    }
    &__link {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-family: $metropolisMedium;
      color: var(--accent-blue);
    }
  }
  .dropdown-toggle::after {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;
    content: "";
    border: none;
    background-image: url("../images/icons/dropdown-nav.svg");
    background-repeat: no-repeat;
  }
  .dropdown-menu {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid var(--accent-orange);
    @include media-breakpoint-down(lg) {
      border-radius: 0;
      box-shadow: none;
      border-bottom: 0;
    }
    .dropdown-item {
      font-family: $metropolisMedium;
    }
  }
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 20px;
  border: none;
  &:focus {
    box-shadow: none;
  }
}
